@use "../../variables" as *;

.molecules-plan{
    .list-group{
        border-radius: 0;
        text-align: center;
        margin-bottom: 24px;
        font-size: $fontsize-S;
        background-color: $white;

        @media screen and (min-width:$breakpoint-md) {
            margin-bottom: 0px;
        }
    
        .list-group-item{
            padding: 20px 19px;
        }

        li:nth-child(1){
            background-color: $orange_zorba;
            color: $white;
            font-size: $fontsize-L;
            border: none;
            font-weight: bold;
        }
    
        li:nth-child(2){
            background-color: $gray_desertStorm;
            padding: 24px 48px;
    
            .yen{
                font-size: $fontsize-L;
                color: $orange_bistre;
            }
            .price{
                font-size: $fontsize-XXL;
                color: $orange_bistre;
            }    
        }
    }    

    ul:nth-child(even){
        border: 5px solid $orange_bistre;
        li:nth-child(1){
            background-color: $orange_bistre;
            padding-top: 15px;
        }

        li:last-child{
            padding-bottom: 15px;
        }
    }
}
