<table class="table daytime">
  <thead class="table-head">
    <tr>
      <th>デイタイムプラン</th>
    </tr>
  </thead>
  <tbody class="table-body table-bordered">
    <tr>
      <td><b class="yen">￥</b><b class="price">5,000</b><br>月額</td>
    </tr>
    <tr>
      <td>入会金0円</td>
    </tr>
    <tr>
      <td>平日：9時～17時</td>
    </tr>
    <tr>
      <td>土日祝：利用ナシ</td>
    </tr>
    <tr>
      <td>コアタイムでの利用に最適なプラン</td>
    </tr>
  </tbody>
</table>

<table class="table standard">
  <thead class="table-head">
    <tr>
      <th>スタンダードプラン</th>
    </tr>
  </thead>
  <tbody class="table-body table-bordered">
    <tr>
      <td><b class="yen">￥</b><b class="price">15,000</b><br>月額</td>
    </tr>
    <tr>
      <td>入会金0円</td>
    </tr>
    <tr>
      <td>平日：17時～23時</td>
    </tr>
    <tr>
      <td>土日祝：営業時間全て</td>
    </tr>
    <tr>
      <td>営業時間内で終日ご利用可能なプラン</td>
    </tr>
  </tbody>
</table>

<div class="molecules-plan">
  <ul class="list-group">
    <li class="list-group-item">デイタイムプラン</li>
    <li class="list-group-item"><b class="yen">￥</b><b class="price">5,000</b><br>月額</li>
    <li class="list-group-item">入会金0円</li>
    <li class="list-group-item">平日：9時～17時</li>
    <li class="list-group-item">土日祝：利用ナシ</li>
    <li class="list-group-item">コアタイムでの利用に最適なプラン</li>
  </ul>
  
  <ul class="list-group">
    <li class="list-group-item">スタンダードプラン</li>
    <li class="list-group-item"><b class="yen">￥</b><b class="price">15,000</b><br>月額</li>
    <li class="list-group-item">入会金0円</li>
    <li class="list-group-item">平日：17時～23時</li>
    <li class="list-group-item">土日祝：営業時間全て</li>
    <li class="list-group-item">営業時間内で終日ご利用可能なプラン</li>
  </ul>  
</div>
