@use "../../variables" as *;

.organisms-events {
  padding-bottom: 35px;
  @media screen and (min-width: $breakpoint-lg) {
    padding-bottom: 0px;
  }

  .events-list {
    border: 1px solid $gray_gainsboro;
    margin-bottom: 30px;

    .events-list-content {
      border-bottom: 1px solid $gray_gainsboro;

      &:last-child {
        border-bottom: none;
      }

      .events-list-url {
        display: flex;

        &:hover {
          text-decoration: none;

          .events-img {
            transform: scale(1.2);
          }
        }

        .img-frame {
          display: none;
          overflow: hidden;

          @media screen and (min-width: $breakpoint-lg) {
            display: block;
          }

          .events-img {
            transition: all 0.5s ease;
          }
        }

        .events-header-block {
          margin: 10px 20px 16px;
          overflow: hidden;

          @media screen and (min-width: $breakpoint-lg) {
            margin: 26px 24px;
          }

          .events-header {
            color: $black;
            font-size: $fontsize-M;
            font-weight: 400;
            margin-bottom: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: color 0.2s ease;

            &:hover {
              color: $orange_bistre;
            }

            @media screen and (min-width: $breakpoint-lg) {
              white-space: normal;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }

          .events-date {
            font-size: $fontsize-XS;
            color: $gray_gainsboro;
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .notification-list-block {
    text-align: right;
  }
}
