@use "../../variables" as *;

.organisms-events {
  .events-list {
    border: 1px solid $gray_gainsboro;
    margin-bottom: 30px;

    .events-list-content {
      border-bottom: 1px solid $gray_gainsboro;
      padding: 0;
      display: flex;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        .events-img {
          transform: scale(1.2);
        }
      }

      .img-frame {
        display: none;
        overflow: hidden;

        @media screen and (min-width: $breakpoint-lg) {
          display: block;
        }

        .events-img {
          transition: all 0.5s ease;
        }
      }

      .events-header-block {
        margin: 10px 20px 16px;
        overflow: hidden;

        @media screen and (min-width: $breakpoint-lg) {
          margin: 26px 24px;
        }

        .events-header {
          font-size: $fontsize-M;
          margin-bottom: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media screen and (min-width: $breakpoint-lg) {
            white-space: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }
        }

        .events-date {
          font-size: $fontsize-XS;
          color: $gray_gainsboro;
          margin-bottom: 0px;
        }
      }
    }
  }

  .notification-list {
    text-align: right;
    display: block;
  }
}
