@use "../../variables" as *;

.organisms-top {
  background-color: $black;
  text-align: center;
  color: $white;

  .top-img {
    position: relative;
    height: 360px;
    background-image: url(../../../img/top-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $breakpoint-lg) {
      height: 0;
      padding-top: 70%;
    }
  }

  .top-img-logo {
    writing-mode: vertical-rl;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-L;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: $breakpoint-lg) {
      font-size: $fontsize-XL;
    }
  }
}
