@use "../../variables" as *;

.organisms-top {
  background-color: $black;
  text-align: center;
  color: $white;

  .top-img-block {
    position: relative;
    overflow: hidden;

    .top-img {
      height: 360px;

      @media screen and (min-width: $breakpoint-lg) {
        height: auto;
        width: 100%;
      }
    }

    .top-img-logo {
      writing-mode: vertical-rl;
      font-family: $fontfamily-mincho;
      font-size: $fontsize-L;
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (min-width: $breakpoint-lg) {
        font-size: $fontsize-XL;
      }
    }
  }
}
