<nav class="navbar navbar-expand-xl organisms-header">
  <div class="container-fluid header-wrap">
    <a class="navbar-brand header-logo" href="#">
      <img
        src="../../../img/image7.png"
        class="header-img"
        alt="ヘッダーロゴ"
      />
    </a>

    <button
      type="button"
      class="navbar-toggler header-listicon"
      data-toggle="collapse"
      data-target="#Navbar"
      aria-controls="Navbar"
      aria-expanded="false"
      aria-label="ナビゲーションの切替"
    >
      <img src="../../../img/humberger-icon.svg" alt="ハンバーガーアイコン" />
    </button>

    <div class="collapse navbar-collapse header-list-block" id="Navbar">
      <ul class="navbar-nav header-list">
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">HOME</a>
        </li>
        <!--CONCEPT-->
        <li class="nav-item navbar header-content concept">
          <a class="nav-link header-link" href="#" role="button"> CONCEPT </a>

          <button
            role="button"
            class="navbar-toggler concept-button"
            data-toggle="collapse"
            data-target="#navbarDropdown"
            aria-controls="navbarDropdown"
            aria-expanded="false"
          >
            <img
              src="../../../img/Property 1=plus.svg"
              class="concept-button-icon"
              alt="CONCEPT表示切替ボタン"
            />
          </button>

          <div class="collapse concept-dropdown" id="navbarDropdown">
            <ul class="navbar-nav concept-dropdown-list">
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >ブログアーカイブ</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >お知らせアーカイブ</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >イベントアーカイブ</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >インタビューアーカイブ</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >FAQページ</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >固定ページ（デフォルト）</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >CONCEPT</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >SERVICE</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >FLOOR</a
                >
              </li>
              <li class="nav-item concept-dropdown-content">
                <a class="dropdown-item concept-dropdown-link" href="#"
                  >ACCESS</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!--CONCEPT終わり-->
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">BLOG</a>
        </li>
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item header-content">
          <a class="nav-link header-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
