<div class="organisms-news">
    <h1 class="news-and-events-title">
        <p class="news">
            News
        </p>
        <p class="notification">
            お知らせ
        </p>
    </h1>
    <div class="news-list">
        <article class="news-list-content">
            <p class="news-date">2018.06.20</p>
            <h2 class="news-header"></h2>
        </article>    
        <article class="news-list-content">
            <p class="news-date">2018.06.18</p>
            <h2 class="news-header"></h2>
        </article>    
        <article class="news-list-content">
            <p class="news-date">2018.06.12</p>
            <h2 class="news-header"></h2>
        </article>    
        <article class="news-list-content">
            <p class="news-date">2018.06.08</p>
            <h2 class="news-header"></h2>
        </article>    
        <article class="news-list-content">
            <p class="news-date">2018.06.02</p>
            <h2 class="news-header"></h2>
        </article>    
    </div>
    <a href="#" class="notification-list">
        お知らせ一覧
        <i class="fas fa-chevron-right"></i>
    </a>    
</div>
