@use "../../variables" as *;

.organisms-news{
    .news-list{
        border: 1px solid $gray_gainsboro;

        .news-list-content{
            border-bottom: 1px solid $gray_gainsboro;

            .news-date{
                font-size: $fontsize-XS;
                color: $gray_nobel;
            }
            .news-header{
                font-size: $fontsize-M;
            }
        }    
    }

    .notification-list{
        text-align: right;
        display: block;
    }
}

