@use "../../variables" as *;

.news-and-events-title{
    width: 133px;
    height: 61px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width:$breakpoint-lg){
        width: 184px;
        height: 89px;
    }

    .news{
        width: 53px;
        height: 29px;
        font-size: $fontsize-L;
        font-family: $fontfamily-mincho;

        @media screen and (min-width:$breakpoint-lg){
            width: 105px;
            height: 57px;
            font-size: $fontsize-XXL;
        }    
    }

    .notification{
        width: 64px;
        height: 23px;
        margin-top: 3px;
        font-size: $fontsize-M;

        @media screen and (min-width:$breakpoint-lg){
            margin-top: 17px;
        }    
    }
}