@use "../../variables" as *;

.news-and-events-title{
    display: flex;
    margin: 0px;

    .news{
        font-size: $fontsize-L;
        font-family: $fontfamily-mincho;
        margin-bottom: 32px;

        @media screen and (min-width:$breakpoint-lg){
            font-size: $fontsize-XXL;
        }    
    }

    .notification{
        margin: 3px 0px 35px 16px;
        font-size: $fontsize-M;

        @media screen and (min-width:$breakpoint-lg){
            margin-top: 17px;
            margin-bottom: 49px;
        }
    }
}
