@use "../../variables" as *;
h1{
    font-family: $fontfamily-mincho;
    font-size: $fontsize-L;

    @media screen and (min-width: $breakpoint-lg){
        font-size: $fontsize-XL;
    }
}

p{
    font-family: $fontfamily-gothic;
    font-size: $fontsize-S;
    @media screen and (min-width: $breakpoint-lg){
    }
}