@use "../../variables" as *;

.templates-newsandevents {
  background-color: $white-smoke;
  padding: 65px 135px;

  @media screen and (min-width: $breakpoint-lg) {
    padding: 56px 16px 59px;
  }
}
