@use "../../variables" as *;

.templates-newsandevents {
  background-color: $white-smoke;
  padding-top: 65px;
  padding-bottom: 65px;

  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 56px;
    padding-bottom: 59px;
  }
}
